body{
    font-family: sans-serif;
    color: rgb(201, 32, 94);
}
header{
     text-align: center;
}


span{
    background-color: rgb(227, 16, 55);
    color: white;
    padding: 5px;
    border: 1px solid rgb(23, 42, 217);
    border-radius: 5px;
}
*{
  padding: 0;
  margin: 0;
}
p{
  margin: 10px 0px;
}

